.promo {
	// .promo__container
	&__container {
		position: relative;
		padding-block: toRem(46) toRem(14);
		@media (min-width: $mobile) {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			column-gap: toRem(30);
		}

		@media (max-width: $mobile) {
			padding-block: toRem(45) 0;
		}
	}
	// .promo__content
	&__content {
		@media (min-width: $mobile) {
			flex-basis: toRem(600);
			min-width: toRem(374);
			@include adaptiveValue("padding-top", 106, 0, 0, $containerWidth, 768);
		}
		@media (max-width: $mobile) {
			margin-bottom: toRem(47);
		}
		> * {
			margin-bottom: toRem(24);
			@media (max-width: $mobile) {
				margin-bottom: toRem(16);
			}
		}
		> *:last-child {
			margin-bottom: 0;
		}
	}
	// .promo__title
	&__title {
		color: $darkColor;
		@include adaptiveValue("font-size", 64, 40, 0, $containerWidth, 790);
		font-weight: 700;
		line-height: 1.21;
		span {
			color: transparent;
			background-image: $gradientColor;
			background-clip: text;
			animation: moveGradient 2s infinite linear alternate;
			background-size: 200%;
		}
	}
	// .promo__text
	&__text {
		color: $darkColor;
		font-size: toRem(20);
		font-weight: 500;
		line-height: 1.6;
		p:not(:last-child) {
			margin-bottom: toRem(5);
		}
		@media (max-width: $mobile) {
			font-size: toRem(16);
			letter-spacing: toRem(0.08);
		}
	}
	// .promo__links
	&__links {
		display: flex;
		flex-wrap: wrap;
		gap: toRem(12);
	}
	// .promo__link
	&__link {
		@media (max-width: $mobileSmall) {
			width: 100%;
		}
	}
	// .promo__evaluation
	&__evaluation {
	}
	// .promo__picture
	&__picture {
		position: relative;
		flex-basis: toRem(569);
		padding-block: toRem(22) 6.8%;
		@media (min-width: $mobile) {
			// margin-top: toRem(-22);
		}
		overflow: hidden;
		img {
			position: relative;
			z-index: 1;
			width: 100%;
			height: 100%;
			object-fit: contain;
			aspect-ratio: 569 / 595;
		}
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			right: percent(-73, 569);
			background: url("../img/promo/grid.png") 0 0 / 100% no-repeat;
		}
	}
	// .promo__decoration
	&__decoration {
	}
}

.evaluation-promo {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	column-gap: toRem(8);
	// .evaluation-promo__value
	&__value,
	&__text {
		color: $darkColor;
		font-size: toRem(14);
		font-weight: 600;
		line-height: 1.71;
	}
	// .evaluation-promo__rating
	&__rating {
		flex-shrink: 0;
	}
	// .evaluation-promo__text
	&__text {
	}
}

.decoration-promo {
	position: absolute;
	width: percent(469, $containerWidth);
	display: flex;
	justify-content: space-between;
	column-gap: toRem(25);
	@include adaptiveValue("height", 173, 58, 0, $containerWidth, 768);
	top: 0;
	left: toRem(11);
	@media (max-width: $mobile) {
		width: calc(100% - toRem($containerPadding));
		left: toRem(15);
	}
	// .decoration-promo__column
	&__column {
		display: flex;
		column-gap: toRem(16);
		// .decoration-promo__column--left
		&--left {
			.decoration-promo__item:nth-child(even) {
				background-color: $purpleColor;
			}
			.decoration-promo__item:nth-child(odd) {
				background-color: $oceanColor;
			}
			.decoration-promo__item:nth-child(1) {
				height: 100%;
			}
			.decoration-promo__item:nth-child(2) {
				height: calc(100% - toRem(20));
			}
			.decoration-promo__item:nth-child(3) {
				height: calc(100% - toRem(33));
			}
			.decoration-promo__item:nth-child(4) {
				height: calc(100% - toRem(84));
			}
		}

		&--right {
			.decoration-promo__item:nth-child(odd) {
				background-color: $oceanColor;
			}
			.decoration-promo__item:nth-child(even) {
				background-color: $purpleColor;
			}
			.decoration-promo__item:nth-child(1) {
				height: calc(100% - toRem(84));
			}
			.decoration-promo__item:nth-child(2) {
				height: calc(100% - toRem(33));
			}
			.decoration-promo__item:nth-child(3) {
				height: calc(100% - toRem(20));
			}
			.decoration-promo__item:nth-child(4) {
				height: 100%;
			}
		}
	}
	// .decoration-promo__item
	&__item {
		width: toRem(1);
	}
}

@keyframes moveGradient {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 100% 0;
	}
}
