// .promo =====================================================================
.promo {
	// .promo__container
	&__container {
		position: relative;
		padding-block: toRem(46) toRem(14);
		@media (min-width: $mobile) {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			column-gap: toRem(30);
		}

		@media (max-width: $mobile) {
			padding-block: toRem(45) 0;
		}
	}
	// .promo__content
	&__content {
		@media (min-width: $mobile) {
			flex-basis: toRem(600);
			min-width: toRem(374);
			@include adaptiveValue("padding-top", 106, 0, 0, $containerWidth, 768);
		}
		@media (max-width: $mobile) {
			margin-bottom: toRem(47);
		}
		> * {
			margin-bottom: toRem(24);
			@media (max-width: $mobile) {
				margin-bottom: toRem(16);
			}
		}
		> *:last-child {
			margin-bottom: 0;
		}
	}
	// .promo__title
	&__title {
		color: $darkColor;
		@include adaptiveValue("font-size", 64, 40, 0, $containerWidth, 790);
		font-weight: 700;
		line-height: 1.21;
		@media (min-width: $mobile) {
			transform: translateX(-30%);
			transition:
				transform 0.8s,
				opacity 0.8s;
			opacity: 0;
			.--watch & {
				opacity: 1;
				transform: translateX(0);
			}
		}

		span {
			color: transparent;
			background-image: $gradientColor;
			background-clip: text;
			animation: moveGradient 4s infinite linear;
			background-size: 400% 400%;
		}
	}
	// .promo__text
	&__text {
		color: $darkColor;
		font-size: toRem(20);
		font-weight: 500;
		line-height: 1.6;
		@media (min-width: $mobile) {
			transform: translateX(-30%);
			opacity: 0;
			transition:
				transform 0.7s 0.2s,
				opacity 0.7s 0.2s;
			.--watch & {
				transform: translateX(0);
				opacity: 1;
			}
		}
		p:not(:last-child) {
			margin-bottom: toRem(5);
		}
		@media (max-width: $mobile) {
			font-size: toRem(16);
			letter-spacing: toRem(0.08);
		}
	}
	// .promo__links
	&__links {
		display: flex;
		flex-wrap: wrap;
		gap: toRem(12);
	}
	// .promo__link
	&__link {
		@media (min-width: $mobile) {
			&:first-child {
				transform: translate(toRem(-30), 0);
				transition:
					transform 0.4s 0.6s,
					opacity 0.4s 0.6s,
					background-color 0.5s 0s;
				opacity: 0;
				.--watch & {
					transform: translate(0, 0);
					opacity: 1;
				}
			}
			&:last-child {
				transform: translate(toRem(-35), 0);
				opacity: 0;
				transition:
					transform 0.4s 0.7s,
					opacity 0.4s 0.7s,
					background-color 0.5s 0s;
				.--watch & {
					transform: translate(0, 0);
					opacity: 1;
				}
			}
		}
		@media (max-width: $mobileSmall) {
			width: 100%;
		}
	}
	// .promo__evaluation
	&__evaluation {
	}
	// .promo__picture
	&__picture {
		position: relative;
		flex-basis: toRem(569);
		padding-block: toRem(22) 6.8%;
		@media (min-width: $mobile) {
			transform: translate(42%, 0);
			opacity: 0;
			transition:
				transform 0.7s 0.5s,
				opacity 0.7s 0.5s;
			overflow: hidden;
			.--watch & {
				transform: translate(0, 0);
				opacity: 1;
			}
		}
		img {
			position: relative;
			z-index: 1;
			width: 100%;
			height: 100%;
			object-fit: contain;
			aspect-ratio: 569 / 595;
		}
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			right: percent(-73, 569);
			background: url("../img/promo/grid.png") 0 0 / 100% no-repeat;
		}
		@media (max-width: $mobile) {
			max-width: toRem(576);
			margin: 0 auto;
			&::before {
				right: 0;
			}
		}
	}
	// .promo__decoration
	&__decoration {
	}
}

// .evaluation-promo =====================================================================
.evaluation-promo {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	column-gap: toRem(8);
	@media (min-width: $mobile) {
		will-change: transform;
		transform: translate(toRem(25), toRem(-10)) scale(1.1);
		opacity: 0;
		transition:
			transform 0.4s 0.8s,
			opacity 0.4s 0.8s;
		.--watch & {
			transform: translate(0, 0) scale(1);
			opacity: 1;
		}
	}

	// .evaluation-promo__value
	&__value,
	&__text {
		color: $darkColor;
		font-size: toRem(14);
		font-weight: 600;
	}

	&__value {
	}

	// .evaluation-promo__rating
	&__rating {
		flex-shrink: 0;
	}
	// .evaluation-promo__text
	&__text {
		line-height: 1.71;
		@media (min-width: $mobile) {
			span {
				display: inline-block;
				opacity: 0;
				transform: translate(toRem(-10), 0);
				transition:
					transform ease-out,
					opacity ease-out;
				.--watch & {
					transform: translate(0, 0);
					opacity: 1;
				}
			}
		}
	}
}

// .decoration-promo =====================================================================
.decoration-promo {
	position: absolute;
	width: percent(469, $containerWidth);
	display: flex;
	justify-content: space-between;
	column-gap: toRem(25);

	@include adaptiveValue("height", 173, 58, 0, $containerWidth, 768);
	top: 0;
	left: toRem(11);
	@media (min-width: $mobile) {
		transform: rotate(-10deg) scale(1.4);
		opacity: 0;
		will-change: transform;
		transition:
			top 0.8s 0.16s,
			transform 0.8s 0.16s,
			opacity 0.8s 0.16s;
		top: toRem(-50);
		.--watch & {
			top: 0;
			transform: rotate(0) scale(1);
			opacity: 1;
		}
	}
	@media (max-width: $mobile) {
		width: calc(100% - toRem($containerPadding));
		left: toRem(15);
	}
	// .decoration-promo__column
	&__column {
		display: flex;
		column-gap: toRem(16);
		// .decoration-promo__column--left
		&--left {
			.decoration-promo__item:nth-child(even) {
				background-color: $purpleColor;
			}
			.decoration-promo__item:nth-child(odd) {
				background-color: $oceanColor;
			}
			.decoration-promo__item:nth-child(1) {
				height: 100%;
			}
			.decoration-promo__item:nth-child(2) {
				height: calc(100% - toRem(20));
			}
			.decoration-promo__item:nth-child(3) {
				height: calc(100% - toRem(33));
			}
			.decoration-promo__item:nth-child(4) {
				height: calc(100% - toRem(84));
			}
		}

		&--right {
			.decoration-promo__item:nth-child(odd) {
				background-color: $oceanColor;
			}
			.decoration-promo__item:nth-child(even) {
				background-color: $purpleColor;
			}
			.decoration-promo__item:nth-child(1) {
				height: calc(100% - toRem(84));
			}
			.decoration-promo__item:nth-child(2) {
				height: calc(100% - toRem(33));
			}
			.decoration-promo__item:nth-child(3) {
				height: calc(100% - toRem(20));
			}
			.decoration-promo__item:nth-child(4) {
				height: 100%;
			}
		}
	}
	// .decoration-promo__item
	&__item {
		width: toRem(1);
	}
}

@keyframes moveGradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

// .benefits  =====================================================================
.benefits {
	padding-block: toRem(85);
	background: url("../img/texture-bg.png") center / cover no-repeat;
	@media (max-width: $tablet) {
		padding-block: toRem(57);
	}
	// .benefits__container
	&__container {
	}
	// .benefits__items
	&__items {
		padding-block: toRem(45);
		padding-inline: toRem(48);
		border-radius: toRem(12);
		background-color: #fff;
		@media (min-width: toEm(599.98)) {
			display: flex;
			justify-content: center;
			@include adaptiveValue("column-gap", 99, 30, 0, $containerWidth, 800);
			row-gap: toRem(70);
		}

		@media (max-width: $tablet) {
			padding-inline: toRem(25);
		}
		@media (max-width: $mobile) {
			flex-wrap: wrap;
		}
		@media (max-width: toEm(599.98)) {
			padding-block: toRem(32);
			padding-inline: toRem(10);
		}
	}
	// .benefits__item
	&__item {
		flex: 1 1 toRem(240);
		@media (min-width: $mobile) {
			overflow: hidden;
			position: relative;
			&::before,
			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 50%;
				left: 0;
				background-color: #fff;
				z-index: 1;
				transition: height 0.6s;
			}
			&::before {
				top: 0;
			}
			&::after {
				bottom: 0;
			}
			.--watch & {
				&::before,
				&::after {
					height: 0;
				}
			}
			& > * {
				transition: transform 0.8s;
				transform: scale(1.19);
				will-change: transform;
			}
			@for $index from 1 through 3 {
				&:nth-child(#{$index}) {
					$delay: ($index - 1) * 0.2;
					&::before,
					&::after,
					& > * {
						transition-delay: #{$delay}s;
					}
				}
			}
			.--watch & > * {
				transform: scale(1);
			}
		}

		@media (max-width: $mobile) {
			&:first-child {
				flex-basis: 100%;
			}
		}
		@media (max-width: toEm(599.98)) {
			&:not(:last-child) {
				margin-bottom: toRem(80);
			}
		}
	}
}

// .application =====================================================================
.application {
	position: relative;
	@include adaptiveValue("padding-block", 100, 40, 0, $containerWidth, 575);
	background-color: #fbfbfd;
	// .application__container
	&__container {
		@media (min-width: toEm(699.98)) {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			column-gap: toRem(40);
		}
	}
	// .application__content
	&__content {
		flex: 0 1 toRem(600);
		> * {
			margin-bottom: toRem(24);
		}
		> *:last-child {
			margin-bottom: 0;
		}
		@media (max-width: toEm(699.98)) {
			> * {
				margin-bottom: toRem(16);
			}
			&:not(:last-child) {
				margin-bottom: toRem(40);
			}
		}
	}
	// .application__title
	&__title {
		@media (min-width: $mobile) {
			transform: translate(-30%, 0);
			transition:
				transform 0.6s,
				opacity 0.6s;
			opacity: 0;
			.--watch & {
				transform: translate(0, 0);
				opacity: 1;
			}
		}
		br {
			display: none;
			@media (min-width: toEm(699.98)) {
				display: inline;
			}
		}
	}
	// .application__text
	&__text {
		margin-bottom: toRem(32);
		@media (min-width: $mobile) {
			transform: translate(-30%, 0);
			transition:
				transform 0.6s 0.2s,
				opacity 0.6s 0.2s;
			opacity: 0;
			.--watch & {
				transform: translate(0, 0);
				opacity: 1;
			}
		}
		@media (max-width: $mobile) {
			margin-bottom: toRem(24);
		}
	}
	// .application__list
	&__list {
		counter-reset: step;
		margin-bottom: toRem(40);
		@media (max-width: $mobile) {
			margin-bottom: toRem(30);
		}
	}
	// .application__item
	&__item {
		display: flex;
		column-gap: toRem(22);
		align-items: center;
		color: $darkColor;
		line-height: 1.6;
		font-weight: 600;
		@media (min-width: $mobile) {
			transition:
				transform 0.3s,
				opacity 0.3s;
			transform: translate(-15%, 0);
			opacity: 0;
			@for $index from 1 through 6 {
				&:nth-child(#{$index}) {
					$delay: ($index - 1) * 0.18 + 0.5;
					transition-delay: #{$delay}s;
				}
			}
			.--watch & {
				transform: translate(0, 0);
				opacity: 1;
			}
		}
		&:not(:last-child) {
			margin-bottom: toRem(32);
			@media (max-width: $tablet) {
				margin-bottom: toRem(24);
			}
		}
		@media (max-width: $mobile) {
			font-size: toRem(16);
			column-gap: toRem(11);
		}
		&::before {
			content: counter(step);
			counter-increment: (step);
			align-self: flex-start;
			width: toRem(42);
			height: toRem(42);
			flex-shrink: 0;
			border-radius: 50%;
			background-image: $gradientColor;
			color: #fff;
			font-size: toRem(22);
			display: flex;
			justify-content: center;
			align-items: center;
			@media (max-width: $mobile) {
				font-size: toRem(16);
				width: toRem(29);
				height: toRem(29);
			}
		}
	}
	// .application__apps
	&__apps {
		@media (min-width: $mobile) {
			.apps__item {
				opacity: 0;
				&:first-child {
					transition:
						opacity 0.5s 1.6s,
						transform 0.5s;
				}
				&:last-child {
					transition:
						opacity 0.5s 1.69s,
						transform 0.5s;
				}
				.--watch & {
					opacity: 1;
				}
				@media (any-hover: hover) {
					&:hover {
						transform: scale(1.04);
					}
				}
			}
		}
		@media (max-width: toEm(699.98)) {
			.apps__item--lg {
				height: toRem(42);
			}
		}
		@keyframes slide-link {
			100% {
				transform: translate(0, 0);
				opacity: 1;
			}
		}
	}
	// .application__picture
	&__picture {
		position: relative;
		flex: 0 1 toRem(452);
		padding-right: toRem(43);
		@media (min-width: $mobile) {
			opacity: 0;
			.--watch & {
				animation: show-phone 0.8s ease forwards 0.6s;
			}
		}
		@media (max-width: $tablet) {
			padding-right: 0;
		}
		@media (max-width: toEm(699.98)) {
			max-width: toRem(300);
			margin: 0 auto;
		}
		@keyframes show-phone {
			0% {
				opacity: 0;
				transform: scale(1.1) translate(0, 8%);
			}
			30% {
				opacity: 1;
			}
			50% {
				transform: scale(1.1) translate(0, 0);
			}
			90%,
			100% {
				opacity: 1;
				transform: scale(1);
			}
		}
	}
	&__img-wrapper {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			width: calc(100% - toRem(8));
			height: calc(100% - toRem(5));
			top: 0;
			left: toRem(3);
			border-radius: 16% 13% 13% 13% / 9% 13% 13% 13%;
			box-shadow:
				toRem(-0.1) toRem(0.4) toRem(2.4) rgba(0, 0, 0, 0.219),
				toRem(-0.4) toRem(1.5) toRem(12.2) rgba(0, 0, 0, 0.24),
				toRem(-7) toRem(27) toRem(102) rgba(0, 0, 0, 0.5);
		}
	}
	// .application__image
	&__image {
		width: 100%;
		object-fit: contain;
		position: relative;
		z-index: 1;
	}
	// .application__decoration
	&__decoration {
		position: absolute;
		width: percent(136, 452);
		aspect-ratio: 136 / 140;
		object-fit: contain;
		top: percent(-20, 452);
		right: percent(-20, 452);
		@media (max-width: toEm(699.98)) {
			width: percent(103, 308);
			top: percent(-13, 308);
			right: percent(-19, 308);
		}
	}
	// .application__line-decor
	&__line-decor {
	}
}

// .line-decor =====================================================================
.line-decor {
	display: none;
	@media (min-width: $mobile) {
		display: block;
		position: absolute;
		width: toRem(173);
		height: toRem(50);
		top: toRem(56);
		left: toRem(-36);
		transform: rotate(12.24deg);
		@media (max-width: toEm(1458)) {
			width: toRem(120);
			top: toRem(25);
		}
		@media (max-width: $tablet) {
			width: toRem(90);
		}
		// .line-decor__item
		&__item {
			&:not(:last-child) {
				margin-bottom: toRem(15);
			}
			width: 100%;
			height: toRem(1);
			&:nth-child(odd) {
				background-color: $purpleColor;
			}
			&:nth-child(even) {
				background-color: $oceanColor;
			}

			&:nth-child(2) {
				width: calc(100% - toRem(20));
			}
			&:nth-child(3) {
				width: calc(100% - toRem(32));
			}
			&:nth-child(4) {
				width: calc(100% - toRem(83));
			}
		}
	}
}

// .explorer-courses =====================================================================
.explorer-courses {
	overflow: hidden;
	background-color: #fff;
	background:
		url("../img/gradient-bg.png") center / cover no-repeat,
		#914cff;
	// .explorer-courses__container
	&__container {
		position: relative;
		@media (min-width: toEm(699.98)) {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			column-gap: toRem(30);
		}

		padding-block: toRem(40);
		@media (max-width: $mobile) {
			padding-block: toRem(35);
		}
	}
	// .explorer-courses__content
	&__content {
		@media (min-width: toEm(700)) {
			flex: 0 1 toRem(600);
			align-self: center;
			min-width: toRem(300);
		}
		> * {
			margin-bottom: toRem(24);
		}
		> *:last-child {
			margin-bottom: 0;
		}
		@media (max-width: toEm(699.98)) and (min-width: $mobileSmall) {
			display: grid;
		}
	}
	// .explorer-courses__title
	&__title {
		color: #fff;
		@media (min-width: $mobile) {
			transform: translate(-30%, 0);
			opacity: 0;
			transition:
				transform 0.6s,
				opacity 0.6s;
			.--watch & {
				transform: translate(0, 0);
				opacity: 01;
			}
		}
	}
	// .explorer-courses__text
	&__text {
		color: #fff;
		@media (min-width: $mobile) {
			transform: translate(-30%, 0);
			opacity: 0;
			transition:
				transform 0.6s 0.2s,
				opacity 0.6s 0.2s;
			.--watch & {
				transform: translate(0, 0);
				opacity: 01;
			}
		}
	}
	// .explorer-courses__link
	&__link {
		&::before {
			background-image: url("../img/icons/hat.png");
		}
		background-color: #fff;
		@media (min-width: $mobile) {
			transform: translate(-30%, 0);
			opacity: 0;
			transition:
				transform 0.3s 0.5s,
				opacity 0.3s 0.5s,
				background-color 0.5s 0s;
			.--watch & {
				transform: translate(0, 0);
				opacity: 1;
			}
		}
		@media (max-width: toEm(699.98)) and (min-width: $mobileSmall) {
			justify-self: center;
		}
		@media (max-width: $mobileSmall) {
			width: 100%;
		}
	}
	// .explorer-courses__picture
	&__picture {
		position: relative;
		z-index: 1;
		@media (min-width: $pc) {
			padding-right: toRem(45);
		}
		@media (min-width: $mobile) {
			transform: translate(30%, 0);
			opacity: 0;
			transition:
				transform 0.8s 0.2s,
				opacity 0.8s 0.2s;
			.--watch & {
				transform: translate(0, 0);
				opacity: 1;
			}
		}
		@media (min-width: toEm(700)) {
			flex: 0 1 toRem(512);
			min-width: toRem(300);
		}
		@media (max-width: toEm(699.98)) {
			text-align: center;
		}

		img {
			max-width: 100%;
		}
	}
	// .explorer-courses__decoration
	&__decoration {
	}
}

//=====================================================================
.library {
	padding-block: toRem(100) toRem(110);
	@media (max-width: $tablet) {
		padding-block: toRem(60);
	}
	@media (max-width: $mobile) {
		padding-block: toRem(40);
	}
	background: url("../img/library/texture-bg.jpg") center / cover no-repeat;
	> * {
		margin-block-end: toRem(60);
		@media (max-width: $tablet) {
			margin-block-end: toRem(40);
		}
		@media (max-width: toEm(600)) {
			margin-bottom: toRem(30);
		}
	}
	> *:last-child {
		margin-block-end: 0;
	}

	// .library__top
	&__top {
		&:not(:last-child) {
			margin-block-end: toRem(100);
			@media (max-width: $tablet) {
				margin-block-end: toRem(60);
			}
			@media (max-width: $mobile) {
				margin-block-end: toRem(40);
			}
		}
	}
	// .library__center
	&__center {
	}
	// .library__bottom
	&__bottom {
	}
	// .library__footer
	&__footer {
	}
}
.top-library {
	@include gridContainer(0, 985);
	// .top-library__content
	&__content {
		position: relative;
	}
	// .top-library__decoration
	&__decoration {
		display: none;
		@media (min-width: toEm(1348)) {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			img {
				position: absolute;
				&:first-child {
					width: percent(108, 985);
					top: toRem(105);
					left: toRem(-170);
					@media (min-width: $mobile) {
						transform: scale(0) rotate(-35deg);
						transition: transform 0.5s 0.17s;
						.--watch & {
							transform: scale(1) rotate(0);
						}
					}
				}
				&:last-child {
					width: percent(136, 985);
					top: toRem(157);
					right: toRem(-170);
					@media (min-width: $mobile) {
						transform: scale(0.5);
						opacity: 0;
						transition:
							transform 0.5s 0.3s,
							opacity 0.5s 0.3s;
						.--watch & {
							transform: scale(1);
							opacity: 1;
						}
					}
				}
			}
		}
	}
	// .top-library__title
	&__title {
		text-align: center;
		&:not(:last-child) {
			margin-bottom: toRem(24);
			@media (max-width: toEm(600)) {
				margin-bottom: toRem(32);
			}
		}
		@media (min-width: $mobile) {
			opacity: 0;
			transition: opacity 0.5s;
			.--watch & {
				opacity: 1;
			}
		}
	}
	// .top-library__list
	&__list {
		@media (min-width: toEm(601)) {
			display: flex;
			flex-wrap: wrap;
			row-gap: toRem(30);
			justify-content: center;
		}
	}
	// .top-library__item
	&__item {
		text-align: center;
		@media (min-width: toEm(601)) {
			padding-inline: toRem(50);
		}
		&:not(:last-child) {
			@media (min-width: toEm(601)) {
				border-right: toRem(1) solid transparent;
				@media (max-width: $mobile) {
					border-right-color: #78848c;
				}
			}
			@media (max-width: toEm(600)) {
				position: relative;
				padding-bottom: toRem(20);
				margin-bottom: toRem(20);
				&::after {
					content: "";
					position: absolute;
					width: toRem(20);
					height: toRem(2);
					bottom: 0;
					left: 50%;
					transform: translate(-50%, 0);
					background-color: rgba(120, 132, 140, 0.5);
				}
			}
		}
		&:first-child {
			padding-inline-start: 0;
		}
		&:last-child {
			padding-inline-end: 0;
		}
		@media (min-width: $mobile) {
			transition:
				transform 0.5s,
				opacity 0.2s,
				border-color 0.3s;
			transform: scale(0.4);
			opacity: 0;
			.--watch & {
				transform: scale(1);
				opacity: 1;
				&:not(:last-child) {
					border-color: #78848c;
				}
			}
			@for $index from 1 through 3 {
				&:nth-child(#{$index}) {
					$delay: ($index - 1) * 0.17 + 0.17;
					transition-delay:
						#{$delay}s,
						#{$delay}s,
						#{$delay + 0.4}s;
				}
			}
		}
		@media (max-width: toEm(1130)) {
			&:nth-child(2) {
				@media (min-width: toEm(601)) {
					border-right: none;
					padding-right: 0;
				}
			}
			&:last-child {
				flex-basis: 100%;
				padding-inline: 0;
			}
		}
	}
	// .top-library__label
	&__label {
		font-size: toRem(18);
		font-weight: 500;
		line-height: 1.3;
		&:not(:last-child) {
			margin-block-end: toRem(7);
		}
		@media (max-width: $mobile) {
			font-size: toRem(16);
		}
	}
	// .top-library__text
	&__text {
		color: $darkColor;
		font-size: toRem(24);
		font-weight: 700;
		line-height: 1.33;
		@media (max-width: $mobile) {
			font-size: toRem(20);
		}
	}
}
.center-library {
	@include gridContainer(0, 820);
	&__content {
		text-align: center;
	}
	// .center-library__title
	&__title {
		margin-bottom: toRem(24);
		span {
			display: inline-flex;
			column-gap: toRem(8);
			align-items: center;
			&::after {
				content: "";
				flex-shrink: 0;
				transform: translate(0, toRem(-3));
				inline-size: toEm(40, 36);
				block-size: toEm(40, 36);
				background: url("../img/icons/rocket.png") 0 0 / 100% no-repeat;
			}
		}
		@media (min-width: $mobile) {
			opacity: 0;
			transition: opacity 0.5s;
			.--watch & {
				opacity: 1;
			}
		}
		@media (max-width: toEm(600)) {
			margin-bottom: toRem(16);
		}
	}
	// .center-library__text
	&__text {
		margin-bottom: toRem(32);
		mark {
			background-color: #bffbff;
		}
		@media (min-width: $mobile) {
			opacity: 0;
			transition: opacity 0.5s 0.2s;
			.--watch & {
				opacity: 1;
			}
		}
		@media (max-width: toEm(600)) {
			margin-bottom: toRem(24);
		}
	}
	// .center-library__nav
	&__nav {
		@media (min-width: $tablet) {
			display: flex;
			align-items: center;
			column-gap: toRem(24);
		}
	}
	// .center-library__pagination
	&__pagination {
		@media (min-width: $tablet) {
			flex: 0 0 toRem(332);
		}
		@media (max-width: $tablet) {
			&:not(:last-child) {
				margin-bottom: toRem(20);
			}
		}
	}
	// .center-library__nav-tabs
	&__nav-tabs {
		@media (min-width: toEm(375)) {
			display: flex;
		}
		@media (min-width: $tablet) {
			padding-inline-start: toRem(23);
			flex: 0 0 toRem(464);
			align-items: center;
			border-inline-start: toRem(1) solid transparent;
		}
		@media (min-width: $mobile) {
			opacity: 0;
			transform: scale(0.5);
			transition:
				transform 0.5s 0.4s,
				opacity 0.5s 0.4s,
				border-color 0.3s 0.8s;
			.--watch & {
				opacity: 1;
				transform: scale(1);
				@media (min-width: $tablet) {
					border-color: rgba(120, 132, 140, 0.5);
				}
			}
		}
		@media (max-width: $tablet) {
			justify-content: center;
		}
	}
	// .center-library__button
	&__button {
		position: relative;
		overflow: hidden;
		flex: 0 1 toRem(220);
		padding-block: toRem(13);
		padding-inline: toRem(16);
		&::before {
			content: "";
			position: absolute;
			inset: 0;
			mask:
				linear-gradient(#fff 0 0) padding-box,
				linear-gradient(#fff 0 0);
			border: toRem(1) solid transparent;
			background: $gradientColor border-box;
			mask-composite: exclude;
			transition: opacity 0.3s;
		}
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-image: $gradientColor;
			opacity: 0;
			transition: opacity 0.5s;
		}
		span {
			position: relative;
			z-index: 1;
			transition: color 0.3s;
			color: $darkColor;
			font-size: toRem(17);
			font-weight: 500;
			line-height: 1.3;
			letter-spacing: toRem(0.102);
			@media (max-width: $mobileSmall) {
				font-size: toRem(13);
				line-height: 1.5;
			}
		}
		// .center-library__button--games
		&--games {
			border-radius: toRem(100) 0 0 toRem(100);
			&::before {
				border-radius: toRem(100) 0 0 toRem(100);
			}
		}
		// .center-library__button--sheets
		&--sheets {
			border-radius: 0 toRem(100) toRem(100) 0;
			&::before {
				border-radius: 0 toRem(100) toRem(100) 0;
			}
		}

		&.--active {
			&::after {
				opacity: 1;
			}
			&::before {
				opacity: 1;
			}
			span {
				color: #fff;
			}
		}
		&:hover {
			&::after {
				opacity: 0.8;
			}
			&::before {
				opacity: 0.1;
			}
			span {
				color: #fff;
			}
		}
		@media (max-width: $mobileSmall) {
			padding-inline: toRem(10);
			padding-block: toRem(10);
		}
		@media (max-width: toEm(374)) {
			display: block;
			width: 100%;
			border-radius: toRem(100);
			&::before {
				border-radius: toRem(100);
			}
			&:not(:last-child) {
				margin-bottom: toRem(10);
			}
		}
	}
}
.pagination-library {
	.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
	.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
		margin: 0;
	}
	.swiper-pagination-bullets {
		flex-wrap: wrap;
		row-gap: toRem(10);
		justify-content: right;
		column-gap: toRem(16);
		display: none;

		&.--active {
			display: flex;
		}
		@media (max-width: $tablet) {
			justify-content: center;
		}
		@media (max-width: toEm(374)) {
			column-gap: toRem(10);
		}
	}
	.swiper-pagination-bullet {
		position: relative;
		overflow: hidden;
		flex: 0 0 toRem(42);
		height: toRem(42);
		opacity: 1;
		background-color: transparent;
		border-radius: 50%;
		@media (max-width: toEm(699)) {
			flex-basis: toRem(29);
			height: toRem(29);
		}
		&::before {
			content: "";
			position: absolute;
			inset: 0;
			mask:
				linear-gradient(#fff 0 0) padding-box,
				linear-gradient(#fff 0 0);
			border-radius: 50%;
			border: toRem(1) solid transparent;
			background: $gradientColor border-box;
			mask-composite: exclude;
			transition: opacity 0.3s;
		}
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-image: $gradientColor;
			opacity: 0;
			transition: opacity 0.3s;
		}
		span {
			position: relative;
			z-index: 1;
			transition: color 0.3s;
			color: $darkColor;
			font-size: toRem(22);
			font-weight: 500;
			@media (max-width: toEm(699)) {
				font-size: toRem(15);
				line-height: 1.8;
			}
		}
		&-active {
			&::after {
				opacity: 1;
			}
			&::before {
				opacity: 1;
			}
			span {
				color: #fff;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				&::after {
					opacity: 0.8;
				}
				&::before {
					opacity: 0.1;
				}
				span {
					color: #fff;
				}
			}
		}
		@media (min-width: $mobile) {
			opacity: 0;
			transform: scale(0.5);
			transition:
				transform 0.5s 0.4s,
				opacity 0.5s 0.4s;
			.--watch & {
				opacity: 1;
				transform: scale(1);
			}
		}
	}
	// .pagination-library__item
	&__item {
		// .pagination-library__item--games
		&--games {
		}
		// .pagination-library__item--sheets
		&--sheets {
		}
	}
}
.bottom-library {
	@include gridContainer(2);
	// .bottom-library__container
	&__container {
	}
	// .bottom-library__tabs
	&__tabs {
	}
	// .bottom-library__tab
	&__tab {
		display: none;
		.swiper {
			overflow: visible;
		}
		&.--active {
			animation: showTab 0.8s ease forwards;
		}

		@keyframes showTab {
			0% {
				opacity: 0.2;
				transform: translate(0, 20%);
			}
			100% {
				opacity: 1;
				transform: translate(0, 0);
			}
		}
		@keyframes slide-left {
		}
	}

	// .bottom-library__slider
	&__slider {
		// margin-inline-start: toRem(-320);
		// .bottom-library__slider--games
		&--games {
		}
		// .bottom-library__slider--sheets
		&--sheets {
		}
	}
	// .bottom-library__wrapper
	&__wrapper {
	}
	.swiper-wrapper {
		align-items: stretch;
	}
	// .bottom-library__slide
	&__slide {
		height: auto;
		@media (min-width: $tablet) {
			flex: 0 0 toRem(390);
			@media (max-width: toEm(1350)) {
				flex-basis: toRem(320);
			}
			@media (max-width: toEm(1120)) {
				flex-basis: toRem(280);
			}
		}
	}
	// .bottom-library__card-slide
	&__card-slide {
		height: 100%;
	}
	// .bottom-library__link
	&__link {
	}
	// .bottom-library__info
	&__info {
	}
}

.footer-library {
	@include gridContainer();
	// .footer-library__content
	&__content {
		text-align: center;
	}
	// .footer-library__link
	&__link {
		@media (min-width: $mobile) {
			opacity: 0;
			transition:
				opacity 0.4s,
				background-color 0.5s;
			.--watch & {
				opacity: 1;
			}
		}
		&:not(:last-child) {
			margin-bottom: toRem(16);
		}
	}
	// .footer-library__info
	&__info {
		font-size: toRem(16);
		font-weight: 500;
		line-height: 1.56;
		letter-spacing: toRem(0.08);
		@media (min-width: $mobile) {
			opacity: 0;
			transition: opacity 0.4s 0.2s;
			.--watch & {
				opacity: 1;
			}
		}
		&::before {
			content: "";
			flex-shrink: 0;
			margin-block-end: toRem(-3);
			margin-inline-end: toRem(11);
			inline-size: toRem(16);
			block-size: toRem(19);
			background: url("../img/icons/bell.svg") 0 0 / 100% no-repeat;
		}
		a {
			text-decoration: underline;
		}
	}
}

// .decoration-explorer-courses =====================================================================
.decoration-explorer-courses {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	// .decoration-explorer-courses__item
	&__item {
		position: absolute;
		&--5 {
			display: none;
			@media (min-width: toEm(699.98)) {
				display: block;
				width: percent(40, $containerWidth);
				top: percent(218, 530);
				left: percent(253, $containerWidth);
			}
		}
		&--8 {
			display: none;
			@media (min-width: toEm(699.98)) {
				display: block;
				width: percent(25, $containerWidth);
				top: percent(-18, 530);
				left: percent(285, $containerWidth);
			}
		}
		&--0 {
			display: none;
			@media (min-width: toEm(699.98)) {
				display: block;
				width: percent(26, $containerWidth);
				top: auto;
				bottom: 0;
				left: percent(324, $containerWidth);
			}
		}
		&--o {
			width: percent(24, $containerWidth);
			top: percent(95, 530);
			left: percent(534, $containerWidth);
			@media (max-width: toEm(699.98)) {
				width: percent(20, 345);
				left: auto;
				right: toRem(15);
				top: percent(475, 762);
			}
		}
		&--x {
			display: none;
			@media (min-width: toEm(699.98)) {
				display: block;
				width: percent(45, $containerWidth);
				top: percent(10, 530);
				left: percent(550, $containerWidth);
			}
		}
		&--m {
			display: none;
			@media (min-width: toEm(699.98)) {
				display: block;
				width: percent(30, $containerWidth);
				top: auto;
				bottom: percent(30, 530);
				left: percent(583, $containerWidth);
			}
		}
		&--p {
			width: percent(21, $containerWidth);
			top: percent(180, 530);
			left: percent(673, $containerWidth);
			@media (max-width: toEm(699.98)) {
				width: percent(23, 345);
				top: percent(190, 762);
				right: percent(155, 345);
			}
		}
		&--k {
			display: none;
			@media (min-width: toEm(699.98)) {
				display: block;
				width: percent(21, $containerWidth);
				top: auto;
				bottom: percent(130, 530);
				left: percent(735, $containerWidth);
			}
		}
		&--b {
			display: none;
			@media (min-width: toEm(699.98)) {
				display: block;
				width: percent(24, $containerWidth);
				top: percent(26, 530);
				left: auto;
				right: percent(170, $containerWidth);
			}
		}
		&--f {
			display: none;
			@media (min-width: toEm(699.98)) {
				display: block;
				width: percent(16, $containerWidth);
				top: percent(255, 530);
				left: auto;
				right: percent(150, $containerWidth);
			}
		}
		&--triangles {
			width: percent(79, $containerWidth);
			top: percent(68, 530);
			left: auto;
			right: percent(57, $containerWidth);
			@media (max-width: toEm(699.98)) {
				width: percent(40, 345);
				top: percent(305, 762);
				right: percent(37, 345);
			}
		}
		&--big-o {
			width: percent(35, $containerWidth);
			top: percent(280, 530);
			left: auto;
			right: percent(-2, $containerWidth);
			@media (max-width: toEm(699.98)) {
				width: percent(20, 345);
				top: percent(92, 762);
				right: percent(204, 345);
			}
		}
	}
}

// .know-us =====================================================================
.know-us {
	padding-block: toRem(100);
	@media (max-width: $tablet) {
		padding-block: toRem(60);
	}
	@media (max-width: $mobile) {
		padding-block: toRem(35);
	}
	// .know-us__container
	&__container {
	}
	// .know-us__title
	&__title {
		text-align: center;
		&:not(:last-child) {
			margin-bottom: toRem(40);
			@media (max-width: $tablet) {
				margin-bottom: toRem(30);
			}
		}
		@media (min-width: $mobile) {
			opacity: 0;
			transition: opacity 0.5s;
			.--watch & {
				opacity: 1;
			}
		}
	}
	// .know-us__items
	&__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		@include adaptiveValue("column-gap", 74, 30, 0, 920, 575);
		row-gap: toRem(30);
		max-width: toRem(970);
		margin: 0 auto;
		@media (max-width: $mobile) {
			display: grid;
			grid-template-columns: repeat(3, minmax(auto, 1fr));
			justify-items: center;
		}
	}
	// .know-us__item
	&__item {
		max-width: toRem(222);
		@media (max-width: $mobile) {
			&:last-child {
				grid-column: span 3;
			}
		}
		img {
			max-width: 100%;
		}
		@media (min-width: $mobile) {
			opacity: 0;
			transform: scale(0.5);
			@for $index from 1 through 7 {
				&:nth-child(#{$index}) {
					$delay: ($index - 1) * 0.1 + 0.1;
					transition:
						transform 0.3s #{$delay}s,
						opacity 0.3s #{$delay}s;
				}
			}

			.--watch & {
				opacity: 1;
				transform: scale(1);
			}
		}
	}
}

//=====================================================================
.newsletter {
	padding-block: toRem(40);
	background:
		url("../img/gradient-bg.png") center / cover no-repeat,
		$purpleColor;
	color: #fff;
	@media (max-width: $mobileSmall) {
		padding-block: toRem(33);
	}
	// .newsletter__container
	&__container {
		@media (min-width: toEm(869.98)) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			column-gap: toRem(25);
		}
	}
	// .newsletter__body
	&__body {
		flex-basis: toRem(600);
		> * {
			margin-bottom: toRem(10);
		}
		> *:last-child {
			margin-bottom: 0;
		}
		@media (max-width: toEm(869.98)) {
			&:not(:last-child) {
				margin-bottom: toRem(24);
			}
		}
	}
	// .newsletter__title
	&__title {
		font-size: toRem(32);
		font-weight: 700;
		line-height: 1.28;
		@media (min-width: $mobile) {
			transform: translate(-10%, 0);
			opacity: 0;
			transition:
				transform 0.3s,
				opacity 0.3s;
			.--watch & {
				transform: translate(0, 0);
				opacity: 1;
			}
		}
		@media (max-width: $mobileSmall) {
			font-size: toRem(24);
		}
	}
	// .newsletter__text
	&__text {
		letter-spacing: toRem(0.08);
		font-size: toRem(16);
		span {
			display: inline-flex;
			column-gap: toRem(8);
			align-items: center;

			&::after {
				content: "";
				flex-shrink: 0;
				width: toRem(17);
				height: toRem(17);
			}
			&.icon-star::after {
				background: url("../img/icons/star.png") 0 0 / 100% no-repeat;
			}
			&.icon-rocket::after {
				background: url("../img/icons/rocket.png") 0 0 / 100% no-repeat;
			}
		}
		@media (min-width: $mobile) {
			transform: translate(-10%, 0);
			opacity: 0;
			transition:
				transform 0.3s 0.15s,
				opacity 0.3s 0.15s;
			.--watch & {
				transform: translate(0, 0);
				opacity: 1;
			}
		}
	}
	// .newsletter__form
	&__form {
		flex-basis: toRem(570);
		max-width: toRem(570);
		@media (min-width: $mobile) {
			transform: translate(20%, 0);
			opacity: 0;
			transition:
				transform 0.4s 0.15s,
				opacity 0.4s 0.15s;
			.--watch & {
				transform: translate(0, 0);
				opacity: 1;
			}
		}
	}
}

//=====================================================================
.reviews {
	overflow: hidden;
	padding-block: toRem(100);
	@media (max-width: $tablet) {
		padding-block: toRem(70);
	}
	@media (max-width: $mobile) {
		padding-block: toRem(50);
	}
	background: url("../img/texture-bg.png") center / cover no-repeat;
	// .reviews__container
	&__container {
		position: relative;
	}
	// .reviews__title
	&__title {
		text-align: center;
		max-width: toRem(600);
		margin-inline: auto;
		&:not(:last-child) {
			margin-bottom: toRem(24);
			@media (max-width: $mobile) {
				margin-bottom: toRem(16);
			}
		}
		@media (min-width: $mobile) {
			opacity: 0;
			transition: opacity 0.5s;
			.--watch & {
				opacity: 1;
			}
		}
	}
	// .reviews__text
	&__text {
		text-align: center;
		max-width: toRem(600);
		margin-inline: auto;
		a {
			position: relative;
			&::before {
				content: "";
				position: absolute;
				width: 100%;
				height: toRem(1);
				bottom: toRem(5);
				right: 0;
				background-color: $mainColor;
				transition: width 0.4s;
			}
			@media (any-hover: hover) {
				&:hover {
					&::before {
						width: 0;
					}
				}
			}
		}
		&:not(:last-child) {
			margin-bottom: toRem(60);
			@media (max-width: $tablet) {
				margin-bottom: toRem(40);
			}
			@media (max-width: $mobile) {
				margin-bottom: toRem(32);
			}
		}
		@media (min-width: $mobile) {
			opacity: 0;
			transition: opacity 0.5s 0.2s;
			.--watch & {
				opacity: 1;
			}
		}
	}
	// .reviews__items
	&__items {
		@media (min-width: toEm(649.98)) {
			display: flex;
			flex-wrap: wrap;
			gap: toRem(32);
		}
		&:not(:last-child) {
			margin-bottom: toRem(70);
			@media (max-width: $tablet) {
				margin-bottom: toRem(40);
			}
		}
	}
	// .reviews__card
	&__card {
		flex: 1 1 toRem(290);
		@media (max-width: $tablet) {
			&:first-child {
				flex-basis: 100%;
			}
		}
		@media (max-width: toEm(649.98)) {
			&:not(:last-child) {
				margin-bottom: toRem(20);
			}
		}
		@media (min-width: $mobile) {
			transition:
				transform 0.5s,
				opacity 0.5s;
			opacity: 0;
			transform: rotate(-5deg) scale(1.1);
			@for $index from 1 through 3 {
				&:nth-child(#{$index}) {
					$delay: ($index - 1) * 0.2 + 0.4;
					transition-delay: #{$delay}s;
				}
			}
			.--watch & {
				opacity: 1;
				transform: rotate(0) scale(1);
			}
		}
	}
	// .reviews__apps
	&__apps {
		justify-content: center;
		@media (max-width: toEm(575)) {
			column-gap: toRem(10);
		}
		@media (min-width: $mobile) {
			.apps__item {
				opacity: 0;

				&:first-child {
					transition:
						opacity 0.5s 1s,
						transform 0.5s;
				}
				&:last-child {
					transition:
						opacity 0.5s 1.09s,
						transform 0.5s;
				}
				.--watch & {
					opacity: 1;
				}
				@media (any-hover: hover) {
					&:hover {
						transform: scale(1.04);
					}
				}
			}
		}
	}
	// .reviews__decor
	&__decor {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		pointer-events: none;
	}
	// .reviews__illustration
	&__illustration {
		display: none;
		@media (min-width: toEm(829.98)) {
			display: block;
			position: absolute;
			top: 0;
			img {
				width: 100%;
			}
			&--01 {
				width: percent(165, $containerWidth);
				top: percent(25, 659);
				left: toRem(-15);
				will-change: transform;
				@media (max-width: $pc) {
					left: toRem(-10);
				}
				@media (min-width: $mobile) {
					transform: scale(0.5) translateY(-3%) rotate(-45deg);
					transition:
						transform 0.5s,
						opacity 0.5s;
					opacity: 0;
					.--watch & {
						transform: scale(1) translateY(-3%) rotate(0);
						opacity: 1;
						animation: move-up-down 1.7s infinite ease-in-out 0.5s;
					}
				}
			}
			&--02 {
				width: percent(250, $containerWidth);
				top: percent(-87, 659);
				right: toRem(-45);
				transform: scale(0.5);
				transition:
					transform 0.5s 0.2s,
					opacity 0.5s 0.2s;
				opacity: 0;
				.--watch & {
					transform: scale(1);
					opacity: 1;
				}
			}
		}
	}
}

@keyframes move-up-down {
	0%,
	100% {
		transform: translateY(-3%);
	}
	50% {
		transform: translateY(3%);
	}
}

//=====================================================================
.questions {
	padding-block: toRem(100);
	@media (max-width: $tablet) {
		padding-block: toRem(60);
	}
	@media (max-width: $mobile) {
		padding-block: toRem(40);
	}
	// .questions__container
	&__container {
		@media (min-width: $mobile) {
			display: flex;
			justify-content: space-between;
			column-gap: toRem(40);
		}
	}
	// .questions__title
	&__title {
		flex: 0 1 toRem(416);
		@media (max-width: $mobile) {
			margin-bottom: toRem(38);
		}
		@media (min-width: $mobile) {
			transition:
				opacity 0.5s,
				transform 0.5s;
			opacity: 0;
			transform: translate(-13%, 0);
			.--watch & {
				opacity: 1;
				transform: translate(0, 0);
			}
		}
	}
	// .questions__spollers
	&__spollers {
		flex: 0 1 toRem(768);
	}
	&__spoller {
		&:not(:last-child) {
			margin-bottom: toRem(50);
			@media (max-width: $tablet) {
				margin-bottom: toRem(35);
			}
			@media (max-width: $mobile) {
				margin-bottom: toRem(25);
			}
		}
		@media (min-width: $mobile) {
			opacity: 0;
			.--watch & {
				animation: show-spoller 0.5s forwards;
				@for $index from 1 through 5 {
					&:nth-child(#{$index}) {
						$delay: ($index - 1) * 0.2 + 0.2;
						animation-delay: #{$delay}s;
					}
				}
			}
		}
		@keyframes show-spoller {
			0% {
				transform: translate(-10%, 0);
				opacity: 0;
			}
			100% {
				transform: translate(0, 0);
				opacity: 1;
			}
		}
	}
}

//=====================================================================
.try-free {
	background: url("../img/texture-bg.png") center / cover no-repeat;
	// .try-free__container
	&__container {
		position: relative;
		overflow: hidden;
		@media (min-width: $mobile) {
			display: flex;
			justify-content: space-between;
			column-gap: toRem(40);
			padding-block: toRem(90) toRem(120);
		}
		@media (max-width: $tablet) {
			padding-block: toRem(60) toRem(90);
		}
		@media (max-width: $mobile) {
			padding-block: toRem(44);
		}
	}
	// .try-free__img
	&__img {
		@media (min-width: $mobile) {
			flex: 0 1 toRem(541);
			text-align: center;
		}
		img {
			max-width: 100%;
		}
		@media (max-width: $mobile) {
			&:not(:last-child) {
				margin-bottom: toRem(32);
			}
			text-align: center;
		}
		@media (min-width: $mobile) {
			transition:
				transform 0.5s 0.2s,
				opacity 0.5s 0.2s;
			transform: scale(0.5);
			opacity: 0;
			.--watch & {
				transform: scale(1);
				opacity: 1;
			}
		}
	}
	// .try-free__body
	&__body {
		padding-top: toRem(18);
		flex: 0 1 toRem(600);
		> * {
			margin-bottom: toRem(24);
			@media (max-width: $mobile) {
				margin-bottom: toRem(16);
			}
		}
		> *:last-child {
			margin-bottom: 0;
		}
		@media (max-width: $mobile) and (min-width: $mobileSmall) {
			display: grid;
		}
	}
	// .try-free__title
	&__title {
		@include adaptiveValue("font-size", 48, 32, 0, $containerWidth, 479.98);
		@media (min-width: $mobile) {
			transform: translate(12%, 0);
			opacity: 0;
			transition:
				transform 0.5s,
				opacity 0.5s;
			.--watch & {
				opacity: 1;
				transform: translate(0, 0);
			}
		}
	}
	// .try-free__text
	&__text {
		margin-bottom: toRem(40);
		@media (max-width: $mobile) {
			margin-bottom: toRem(16);
		}
		@media (min-width: $mobile) {
			transform: translate(12%, 0);
			opacity: 0;
			transition:
				transform 0.5s 0.2s,
				opacity 0.5s 0.2s;
			.--watch & {
				opacity: 1;
				transform: translate(0, 0);
			}
		}
	}
	// .try-free__link
	&__link {
		@media (max-width: $mobile) and (min-width: $mobileSmall) {
			justify-self: center;
		}
		@media (max-width: $mobileSmall) {
			display: block;
		}
		@media (min-width: $mobile) {
			transform: translate(12%, 0);
			opacity: 0;
			transition:
				transform 0.5s 0.4s,
				opacity 0.5s 0.4s,
				background-color 0.5s;
			.--watch & {
				opacity: 1;
				transform: translate(0, 0);
			}
		}
	}
	// .try-free__decor
	&__decor {
		display: none;
		@media (min-width: $mobile) {
			display: block;
			position: absolute;
			width: calc(100% - toRem(30));
			bottom: toRem(-10);
			left: toRem(15);
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			column-gap: toRem(30);
		}
	}
	// .try-free__decor-item
	&__decor-item {
		&--01 {
			width: percent(133, 1240);
		}
		&--02 {
			width: percent(106, 1240);
		}
		&--03 {
			width: percent(110, 1240);
		}
		img {
			width: 100%;
		}
		@media (min-width: $mobile) {
			transform: translate(0, 100%);
			opacity: 0;
			transition:
				transform 0.3s,
				opacity 0.3s;
			@for $index from 1 through 3 {
				&:nth-child(#{$index}) {
					$delay: ($index - 1) * 0.2 + 0.5;
					transition-delay:
						#{$delay}s,
						#{$delay + 0.1}s;
				}
			}
			.--watch & {
				opacity: 1;
				transform: translate(0, 0);
			}
		}
	}
}
