$mainColor: #313c45;
$darkColor: #0d1216;
$purpleColor: #8b3dff;
$hoverColor: #a875ff;
$activeColor: #7921ed;
$oceanColor: #00c4cc;
$gradientColor: linear-gradient(90deg, $oceanColor 0%, $purpleColor 100%);
